package $dataModelPackage;

import org.codehaus.jackson.annotate.JsonProperty;

public class 	$StringUtil.toUpperCaseInitial($dataModel.name)
{
#foreach($item in ${dataModel.items})
#set ( $attr = $StringUtil.toLowerCaseInitial( $StringUtil.toCamelCase($item.dataType)) )
#set ( $type = $StringUtil.getTypeName($attr) )
    /**
     * $item.input
     */
 	@JsonProperty("$item.key")
	private $type $StringUtil.toLowerCaseInitial( $item.key);   
#end
#foreach($item in ${dataModel.items})
#set ( $attr = $StringUtil.toLowerCaseInitial( $StringUtil.toCamelCase($item.dataType)) )
#set ( $type = $StringUtil.getTypeName($attr) )

	/**
	 * $item.inputを取得します。
	 * @return $item.input
	 */
	public $type get$StringUtil.toUpperCaseInitial( $item.key)() {
		return $StringUtil.toLowerCaseInitial( $item.key);
	}
	
	/**
	 * $item.inputを設定します。
	 * @param $item.key $item.input
	 */
	public void set$StringUtil.toUpperCaseInitial( $item.key)($type $StringUtil.toLowerCaseInitial( $item.key)) {
		this.$StringUtil.toLowerCaseInitial( $item.key) = $StringUtil.toLowerCaseInitial( $item.key);
	}
#end
}	

