package $tableModelPackage;
//template:tableModel.vm
public class 	$StringUtil.toCamelCase($tableModel.name)
{
#foreach($item in ${tableModel.items})
#set ( $attr = $StringUtil.toLowerCaseInitial( $StringUtil.toCamelCase($item.physicalName)) )
#set ( $type = $StringUtil.getTypeName(${item.attr}) )
#*
//			テーブル : $item.tableName
//			テーブル.項目名(物理) : $item.physicalName
//			テーブル.項目名(論理) : $item.logicalName
//			テーブル.属性   : $item.attr
//			桁数 : $item.numberDigits
//			少数 : $item.numberPoints
//			備考 : $item.remark
*#
    /**
     * $item.physicalName : $item.logicalName
     */
#if($attr==""	)
	//private $type $StringUtil.toLowerCaseInitial( $attr);   
#else
	private $type $StringUtil.toLowerCaseInitial( $attr);   
#end	 
#end
#foreach($item in ${tableModel.items})
#set ( $attr = $StringUtil.toLowerCaseInitial( $StringUtil.toCamelCase($item.physicalName)) )
#set ( $type = $StringUtil.getTypeName(${item.attr}) )

	/**
	 * $item.logicalNameを取得します。
	 * @return $item.logicalName
	 */
#if($attr==""	)
//	public $type get$StringUtil.toUpperCaseInitial( $attr)() {
//		return $StringUtil.toLowerCaseInitial( $attr);
//	}
#else
	public $type get$StringUtil.toUpperCaseInitial( $attr)() {
		return $StringUtil.toLowerCaseInitial( $attr);
	}
#end
	
	/**
	 * $item.logicalNameを設定します。
	 * @param $attr $item.physicalName
	 */
#if($attr==""	)
//	public void set$StringUtil.toUpperCaseInitial( $attr)($type $StringUtil.toLowerCaseInitial( $attr)) {
//		this.$StringUtil.toLowerCaseInitial( $attr) = $StringUtil.toLowerCaseInitial( $attr);
//	}
#else
	public void set$StringUtil.toUpperCaseInitial( $attr)($type $StringUtil.toLowerCaseInitial( $attr)) {
		this.$StringUtil.toLowerCaseInitial( $attr) = $StringUtil.toLowerCaseInitial( $attr);
	}
#end
#end
}


